<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PhotoApp</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <p class="header-text">GoIT team-project</p>
    </header>
    <section class="container">
      <h1 class="main-title">PhotoApp</h1>
      <p class="main-text">all photo in one place</p>
      <a href="/docs" class="main-link">
        <div class="link-container">
          <p class="link-text">Let's do it!</p>
        </div>
      </a>
      <a href="/documentation" class="main-link">
        <div class="link-container">
          <p class="link-text">Documentation</p>
        </div>
      </a>
    </section>
    <footer class="footer">
      <p class="footer-text">Developed by the Digital Future team</p>
    </footer>

  </body>
</html>
